@import "./mixin";
@import "./general";
@import "./wrapper";
@import "./box";
@import "./navbar";
@import "./intro";
@import "./opp";
@import "./biznes";
@import "./kamera";
@import "./qual";
@import "./how";
@import "./ques";
@import "./area";
@import "./input";
