.how {
  @include flex(row);
  justify-content: space-evenly;
  padding: 50px 100px;
  background: #000250;
  position: relative;
  &-left {
    width: 40%;
  }
  &-left img {
    width: 100%;
    height: 250px;
  }
  &-right {
    width: 30%;
    &-title {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      text-transform: uppercase;
      color: #ffffff;
    }
    &-text {
      margin-top: 20px;
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      text-transform: uppercase;
      color: #ffffff;
    }
    &-abs {
      position: absolute;
      top: 250px;
      width: 30%;
      height: 200px;
      background: #ffffff;
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      text-transform: uppercase;
      color: #000250;
      border-radius: 10px;
      padding: 20px 30px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  }
}

@media (max-width: 1400px) {
  .how {
    padding: 0;
    padding-bottom: 30px;
    width: 100%;
    min-width: 420px;
    flex-wrap: wrap;
    &-left {
      width: 40%;
      min-width: 420px;
    }
    &-right {
      width: 100%;
      &-abs {
        display: none;
      }
      &-title {
        margin-top: 30px;
        text-align: center;
        width: 100%;
      }
      &-text {
        text-align: center;
        width: 100%;
      }
    }
  }
}
