.navbar {
  width: 100%;
  height: auto;
  left: 10%;
  padding: 20px 100px;
  @include flex(row);
  background: $whitesmoke;
  &-list {
    @include flex(row);
    width: 50%;
    &-link {
      font-size: 16px;
      color: #6a6a6a;
    }
  }
  &-btn {
    @include btn(180px, 35px);
  }
  &-lang {
    @include btn2(60px, 35px);
  }
  &-burger {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 6px;
    &-div {
      width: 25px;
      height: 3px;
      background: $black;
    }
  }
}

@media (max-width: 1400px) {
  .navbar {
    padding: 30px 30px;
    width: 100%;
    margin: auto;
    &-list,
    &-btn,
    &-lang {
      display: none;
    }
    &-burger {
      display: flex;
    }
  }
}
