.opp {
  width: 100%;
  text-align: center;
  padding: 30px 100px;
  &-title {
    font-size: 30px;
    font-weight: 700;
  }
  &-cards {
    @include flex(row);
    flex-wrap: wrap;
    height: auto;
    gap: 120px;
    &-card {
      width: 300px;
      margin-top: 30px;
      height: auto;
    }
    &-img img {
      width: 300px;
    }
    &-title {
      margin: auto;
      width: 90%;
      font-size: 18px;
      color: $blue2;
      font-weight: 500;
    }
    &-subtitle {
      font-size: 14px;
      color: $grey;
      width: 90%;
      margin: 20px auto;
    }
  }
}

@media (max-width: 1400px) {
  .opp {
    width: 100%;
    &-title {
      justify-self: center;
    }
    &-cards {
      margin: 50px auto;
      justify-content: center;
    }
  }
}
