.qual {
  @include flex(column);
  padding: 50px 100px;
  &-title {
    width: 479px;
    font-size: 30px;
    line-height: 77px;
    text-align: center;
    text-transform: uppercase;
    color: #364c76;
  }
  &-img {
    width: 60%;
    height: 350px;
    margin: 30px auto;
    & img {
      width: 100%;
      height: 350px;
      border-radius: 10px;
    }
  }
  &-area {
    @include flex(row);
    justify-content: center;
    width: 60%;
  }
  &-line {
    height: 2px;
    width: 180px;
    background: #00c5de;
  }
  &-line:first-child,
  &-line:last-child {
    width: 60px;
  }
  &-circle {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #00c5de;
  }
  &-area2 {
    margin-top: 30px;

    @include flex(row);
    width: 60%;
  }
  &-box {
    height: 100px;
    width: 20%;
    border: 2px dashed #00c5de;
    border-radius: 10px;
    @include flex(column);
    justify-content: center;
    text-align: center;
    &-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: #00c5de;
    }
    &-text {
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      opacity: 0.3;
    }
  }
}

@media (max-width: 1400px) {
  .qual {
    width: 100%;
    &-title {
      width: 100%;
      line-height: normal;
    }
    &-img {
      width: 100%;
      height: auto;
      & img {
        width: 100%;
        height: auto;
      }
    }
    &-area {
      display: none;
    }
    &-area2 {
      flex-wrap: wrap;
      width: 100%;
    }
    &-box {
      width: 150px;
      margin: 30px auto;
    }
  }
}
